
body {
  background-color: rgb(61, 61, 61);
}
p {
  color: white;
}
#main {
  width: 100%;
}
svg {
  width: 1170px;
  height: 2532px;
  border: rgb(219, 219, 219) dashed 1px;
}

#Mouth1 {
  transform-origin: 125px 125px;
  animation: lower-jaw .25s linear infinite alternate;
}

#Mouth2 {
  transform-origin: 125px 125px;
  animation: upper-jaw .25s linear infinite alternate;
}

#PacMan {
  transition: all .1s ease;
}
#controls {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#controls button {
  background: #fe0;
  border: none;
  border-radius: 5px;
  color: #000;
  font-size: 20px;
  margin: 10px;
  padding: 10px 20px;
}

#controls #up, #controls #down {
  margin: 0 20px;
}

@keyframes lower-jaw {
  0% {}
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes upper-jaw {
  0% {}
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
