body {
  background-color: black;
}
p {
  color: white;
}
#main {
  width: 100%;
}
svg {
  width: 1000px;
  border: blue dashed 1px;
}

#Mouth1 {
  transform-origin: 125px 125px;
  animation: lower-jaw .25s linear infinite alternate;
}

#Mouth2 {
  transform-origin: 125px 125px;
  animation: upper-jaw .25s linear infinite alternate;
}

#PacMan {
  transition: all .1s ease;
}

@keyframes lower-jaw {
  0% {}
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes upper-jaw {
  0% {}
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
